\---
layout: base
\---


.section
  .content
    .main-title
      %h1 33 Knight Hill Road
      %h2 Listing Price: $332,900
    .listing-info
      %p
      %p
        %b Contact Chris & Courtney Lavigne:
        %br
        %a{ href: 'mailto:33knighthill@gmail.com' } 33knighthill@gmail.com
        %i or 
        401-527-1777
      %p.top-pitch
        3 bedroom, 2 ½ bath ranch with walkout basement and oversized 2 car garage.  
        Hardwoods, granite countertops, crown moulding, a large deck, and a 
        fantastic setting have turned this house into a home.  Great backyard for 
        entertaining with a sprawling 1.68 acres abutting Scituate Reservoir 
        property. 1,630 square feet with an additional 650 sq feet of framed 
        unfinished basement including a plumbed half-bath.  
    .video-embed
      <div id="wistia_9mujuyj4v7" class="wistia_embed" style="width:880px;height:495px;" data-video-width="880" data-video-height="495"><div itemprop="video" itemscope itemtype="http://schema.org/VideoObject"><meta itemprop="duration" content="PT3M8S" /><meta itemprop="thumbnailUrl" content="http://embed.wistia.com/deliveries/353812ea9b40d1a9bd5f406d30592bad0a02357a.bin" /><meta itemprop="contentURL" content="http://embed.wistia.com/deliveries/f94d2c3bc47beb023245a9cc96779e96bedf86cf.bin" /><meta itemprop="embedURL" content="http://embed.wistia.com/flash/embed_player_v2.0.swf?2013-05-14&controlsVisibleOnLoad=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fca5a6075f97227cdd49339000e0378de5da7737b.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=188.0&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F353812ea9b40d1a9bd5f406d30592bad0a02357a.jpg%3Fimage_crop_resized%3D880x495&unbufferedSeek=false&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Ff94d2c3bc47beb023245a9cc96779e96bedf86cf.bin" /><meta itemprop="uploadDate" content="2013-05-27T14:45:57Z" /><object id="wistia_9mujuyj4v7_seo" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="display:block;height:495px;position:relative;width:880px;"><param name="movie" value="http://embed.wistia.com/flash/embed_player_v2.0.swf?2013-05-14"></param><param name="allowfullscreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="bgcolor" value="#000000"></param><param name="wmode" value="opaque"></param><param name="flashvars" value="controlsVisibleOnLoad=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fca5a6075f97227cdd49339000e0378de5da7737b.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=188.0&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F353812ea9b40d1a9bd5f406d30592bad0a02357a.jpg%3Fimage_crop_resized%3D880x495&unbufferedSeek=false&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Ff94d2c3bc47beb023245a9cc96779e96bedf86cf.bin"></param><embed src="http://embed.wistia.com/flash/embed_player_v2.0.swf?2013-05-14" allowfullscreen="true" allowscriptaccess="always" bgcolor=#000000 flashvars="controlsVisibleOnLoad=true&hdUrl%5Bext%5D=flv&hdUrl%5Bheight%5D=720&hdUrl%5Btype%5D=hdflv&hdUrl%5Burl%5D=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Fca5a6075f97227cdd49339000e0378de5da7737b.bin&hdUrl%5Bwidth%5D=1280&mediaDuration=188.0&showVolume=true&stillUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2F353812ea9b40d1a9bd5f406d30592bad0a02357a.jpg%3Fimage_crop_resized%3D880x495&unbufferedSeek=false&videoUrl=http%3A%2F%2Fembed.wistia.com%2Fdeliveries%2Ff94d2c3bc47beb023245a9cc96779e96bedf86cf.bin" name="wistia_9mujuyj4v7_html" style="display:block;height:100%;position:relative;width:100%;" type="application/x-shockwave-flash" wmode="opaque"></embed></object><noscript itemprop="description">33 Knight Hill Rd</noscript></div></div>


    .selling-points
      .selling-point-column
        %span Interior
        %ul
          %li 3 bedrooms - Master bedroom with bath and huge walk-in closet
          %li 8 ft ceilings with 9 ft vault in living room and kitchen
          %li Oversized closets in second and third bedrooms
          %li Hardwood maple floor throughout with tile in bathrooms
          %li Custom window shades throughout
          %li Accent lighting throughout
          %li Crown moulding in the bathroom and bedroom
          %li Custom accent moulding throughout hallway
          %li Laundry on first floor
          %li Neutral color palette throughout with designer guided decor
          %li Bedrooms wired for ceiling fans

        %span Kitchen
        %ul
          %li Cherry cabinets w/ island and eat-in bar
          %li Granite Countertops
          %li Subway tile backsplash
          %li LG appliances
          %li Under-cabinet lighting and wired for over-cabinet lighting
          %li Great natural light

        %span Basement
        %ul
          %li Approximately 650 square feet with in-law apartment or family room potential
          %li Walk out basement to cement patio
          %li 8 ft ceilings thanks to the triple sill and foundation footing
          %li Steel beam construction for open floor space
          %li Framed and ready to be finished
          %li ½ bathroom plumbed and framed
          %li Town permit for finished basement in-hand

      .selling-point-column.second
        %span Exterior
        %ul
          %li 2 driveways: Upper circular to front door and lower into garage
          %li Detached 12’ x 12’ shed with double door and access ramp
          %li Large 18’ x 16’ deck
          %li New concrete patio underneath deck
          %li Underground utilities

        %span Garage
        %ul 
          %li Oversized 2-car garage fits 3 vehicles
          %li Oversized insulated garage doors
          %li Hot and cold water outside the garage
          %li Insulated walls

        %span House Construction
        %ul
          %li Built in 2010
          %li 2 x 6 construction
          %li R-38 and R-19 Insulation
          %li Energy saving low-E double-hung windows
          %li 30-year architectural shingles
          %li Maintenance free vinyl siding
          %li Full attic with access
          %li Oil heat with 330 gallon tank
          %li Artesian well
          %li ISDS Approved Septic System

        %span Location
        %ul
          %li 1.68 acres with 1 acre of grass
          %li Directly across from Scituate Reservoir property
          %li 50 acres of undeveloped land abutting property in the backyard
          %li Excellent Scituate school system
          %li Walking distance to Clayville Elementary School
          %li Town trash and recycling pickup
          %li Quiet, rural setting
          %li Low taxes
    
    .photo-matrix
      %img{ src: 'http://embed.wistia.com/deliveries/ba3147094355958ac795755dc4c6d21ccf7e9160.png', alt: 'photo-matrix' }
      %i.icon-camera-retro
        %a{ href: 'http://www.flickr.com/photos/crlvideo/sets/72157633751576191/', target: '_blank' }
          see more photos!

    .legal-information
      %p
        This house is currently for sale by owner and will be shown by 
        appointment only. Letter of pre-approval is required for appointment. 
        All info contained herein was obtained from sources deemed reliable, 
        but no warranty is intended, expressed, or implied. Equal housing opportunity.


<script charset="ISO-8859-1" src="http://fast.wistia.com/static/concat/E-v1.js"></script>
<script charset="ISO-8859-1" src="http://fast.wistia.com/embed/medias/9mujuyj4v7/metadata.js"></script>
:javascript
  wistiaEmbed = Wistia.embed("9mujuyj4v7", {
    version: "v1",
    videoWidth: 880,
    videoHeight: 495,
    volumeControl: true,
    controlsVisibleOnLoad: true,
    videoFoam: true
  });
